/* This is the body */
body {
    background-color: rgb(71, 69, 69);
    font-family:'Righteous', serif;
    
}  

#hero-wrapper {
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    position: static;
}

#name {
    color: white;
    width: 400px;
    height: 400px;
    margin-right:auto;
    margin-left:auto;
    text-align: left;
    margin-top: 15%;
    text-decoration: none;
    position: relative;
}

h1{
    font-size: 50px;
}



#body {
    width: 600px;
    height: 200px;
    position: relative
    margin-left: auto;
    margin-right: auto;

}

#biopic {
    display: (http://i.paciolanmail.com/wpm/935/HotSeats/PlaceHolder-min.jpg);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}

h2 {
    color: white;
    
}

p {
    width: 300px;
    text-align: right;
    color: white;
}